.nav {
  position: fixed !important;
  left: 0;
  right: 0;
  top: 0;
  z-index: 100;
}

.backgroundColor {
  background-color: white !important;
}

.backgroundTransparent {
  background-color: transparent !important;
}
